<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="xionjames">

    <title>Spring MVC CRUD Demo</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.5.2/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http:/cdn.jsdelivr.net/webjars/jquery/3.5.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>

</head>
<body>
    <div class="container">
        <h1>Hello world!</h1>
    </div>
</body>
</html>